<nav class="navbar navbar-light navbar-expand-md fixed-top">
    <a id="logo" href="#hero" class="navbar-brand"></a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link item-color" href="#hero" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item-color" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item-color" href="#menu">Menu</a>
            </li>
        </ul>
    </div>
</nav>