<div id="hero">
  <div id="title">Welcome to <span class="pink-color">NJAMI!</span></div>
  <div class="lead subtext">Delicious and nutritious! A new, guilt-free restaurant for everyone.</div>
</div>

<div id="about">
  <div class="small-title pink-color">About Us</div>
  <div class="about-container">
    <div class="about-item">
      <img class="frame" src="images/restaurant.png" alt="The look of the restaurant">
    </div>
    <div class="about-item justify text-size">
      Njami is the newest restaurant in Zagreb, Croatia! It is delicious and nutritious, while also being guilt-free. This means that you are guaranteed to get healthy meals that are low on 
      calories and artifical flavors. The world-renowed chefs in the kitchen work hard every day to make the food and also think of new recipes We have many vegan and vegetarian options, as
      well as food for meat lovers. The interior design and the mixing of colors like pink and green give the restaurant a fresh feel and atmosphere. We are also looking into adding new coffee
      options, as well as other beverages. Feel free to come and try our free samples so that you can decide what food is the best choice for you! We are eager for you to come and eat our
      specialties!
    </div>
  </div>
</div>

<div id="menu">
  <div class="small-title pink-color">The Menu</div>
  <div class="menu-container">
    {{#each @model as |food|}}
      <Food @food={{food}} />
    {{/each}}
  </div>
</div>

<div id="footer">
  <p class="text-size text-center">Pjeter Zimaj &copy; 2022</p>
  <p class="text-size text-center">Photos by: <a href="https://unsplash.com/@edwardhowellphotography">@edwardhowellphotography</a></p>
</div>